.container {
  width: 65.46%;
  display: grid;
  grid-template-columns: repeat(3, 1fr); //155px
  gap: 121px;

  @media screen and (width >= 2500px) {
    width: 66.56%;
    gap: 293px;
  }

  @media screen and (width <= 1024px) {
    width: 100%;
    grid-template-columns: 100%;
    gap: 12px;
  }

  .menu-list {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    gap: 12px;

    .subtitle {
      // background: yellow;
      // display: flex;

      @media screen and (width <= 1024px) {
        display: flex;
        justify-content: space-between;
      }

      .subtitle-text {
        font-family: "Roboto";
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        text-transform: uppercase;
        color: #303030;
        margin: 0;

        @media screen and (width >= 2500px) {
          font-size: 28px;
          line-height: 33px;
        }

        @media screen and (width <= 1024px) {
          text-transform:none;
        }
      }
    }

    .list-items {
      display: flex;
      flex-direction: column;
      gap: 12px;

      @media screen and (width <= 1024px) {
        display: none;
      }

      li {
        //   transition: all 0.2s ease-in-out; hover? active?
        // background-color: red;

        a {
          font-family: "Roboto";
          font-style: normal;
          font-weight: 400;
          font-size: 12px;
          line-height: 14px;
          text-transform: capitalize;
          text-decoration: none;
          color: #303030;

          @media screen and (width >= 2500px) {
            font-size: 24px;
            line-height: 28px;
          }
        }

        p {
          margin: 0 0 12px;
          font-family: "Roboto";
          font-style: normal;
          font-weight: 500;
          font-size: 12px;
          line-height: 14px;
          text-transform: capitalize;
          color: #303030;

          @media screen and (width >= 2500px) {
            font-size: 24px;
            line-height: 28px;
          }
        }

        &:last-child {
          // hover em vez de last-child?
          a {
            text-decoration: underline;
          }
        }
      }
    }
  }
}
