.menu-list {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;

  @media screen and (width <= 1024px) {
    margin-bottom: 30px;
  }

  li {
    padding: 10px 16px;
    transition: all 0.2s ease-in-out;
    // background-color: yellow;

    @media screen and (width <= 1024px) {
      width: calc(100% - 32px);
    }

    a {
      font-family: "Roboto";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      text-decoration: none;
      color: #7d7d7d;

      @media screen and (width >= 2500px) {
        font-size: 32px;
        line-height: 38px;
      }
    }

    // &.active {
    //   background: #000000;

    // a {
    //   font-weight: 700;
    //   color: #ffffff;
    // }
    // }

    &:hover {
      // &.active
      background: #292929; // #000000;

      a {
        font-weight: 700;
        color: #ffffff;
      }
    }
  }
}
