@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

.main-container {
  margin: 30px 100px 70px;

  @media screen and (width >= 2500px) {
    margin-bottom: 84px;
  }

  .breadcrumbs {
    display: flex;
    gap: 9.72px;
    align-items: center;
    margin-bottom: 80px;

    @media screen and (width >= 2500px) {
      gap: 12px;
    }

    .home-icon {
      width: 16px;
      height: 16px;
      background: url("../../assets/svg/home-icon.svg");
      background-repeat: no-repeat;
      background-size: cover;

      @media screen and (width >= 2500px) {
        width: 31.22px;
        height: 31.25px;
      }
    }

    .arrow-icon {
      width: 4.56px;
      height: 8px;
      background-image: url("../../assets/svg/arrow-icon.svg");
      background-repeat: no-repeat;
      background-size: cover;

      @media screen and (width >= 2500px) {
        width: 8.9px;
        height: 15.62px;
      }
    }

    .current-location {
      font-family: "Roboto";
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      text-transform: uppercase;
      color: #c4c4c4;
      margin: 0;

      @media screen and (width >= 2500px) {
        font-size: 24px;
      }
    }
  }

  .main-title {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    text-align: center;
    margin: 0 0 80px;
    color: #292929;

    @media screen and (width >= 2500px) {
      font-size: 48px;
      line-height: 56px;
    }
  }

  .main-content {
    display: grid;
    grid-template-columns: 302px 1fr;

    @media screen and (width >= 2500px) {
      grid-template-columns: 590px 1fr;
    }
  }
}
