.section-container {
  margin-left: 30px;
  padding: 10px 0;

  .section-title {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #292929;
    margin: 0 0 12px;

    @media screen and (width >= 2500px) {
      font-size: 48px;
      line-height: 56px;
    }
  }

  .section-description {
    height: 223px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media screen and (width >= 2500px) {
      height: 376px;
    }

    .section-content {
      font-family: "Roboto";
      font-style: normal;
      font-weight: 400;
      font-size: 13px;
      line-height: 15px;
      color: #7d7d7d;
      margin: 0;

      @media screen and (width >= 2500px) {
        font-size: 26px;
        line-height: 30px;
      }
    }
  }
}
