.header-top {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    padding: 25px 100px;
    border-bottom: 1px solid #c4c4c4;
  
    .login-cart-wrapper {
      display: flex;
      gap: 55px;
      align-items: center;
      justify-content: right;
    }
  }