.container {
  .footer-links {
    padding: 50px 100px;
    display: flex;
    justify-content: space-between;
    // gap: 158px;

    .social-links {
      p {
        font-family: "Roboto";
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        color: #303030;
        margin: 12px 0 0;

        @media screen and (width >= 2500px) {
          font-size: 28px;
          line-height: 33px;
        }
      }
    }
  }
}
