.container {
  .footer-links {
    padding: 50px 100px;
    display: flex;
    justify-content: space-between;

    @media screen and (width <= 1024px) {
      padding: 24px 16px;
      flex-direction: column;
      gap: 12px;
    }

    .social-links {
      a {
        margin: 12px 0 0;
        font-family: "Roboto";
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        color: #303030;

        @media screen and (width >= 2500px) {
          font-size: 28px;
          line-height: 33px;
        }
      }
    }
  }
}
