.navbar {
  padding: 14px 100px;

  .navbar-list {
    display: flex;
    gap: 55px;
    list-style: none;
    margin: 0;
    padding: 0;

    .navbar-list-item {
      a {
        text-decoration: none;
        font-family: "Roboto";
        font-style: normal;
        font-weight: 500; // cursos no componente header à esquerda está 400 e nas páginas 500
        font-size: 14px;
        line-height: 16px;
        text-transform: uppercase;
        color: #ffffff;

        @media screen and (width >= 2500px) {
          font-size: 28px;
          line-height: 33px;
        }
      }
    }
  }
}
