.login-button {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;

  &:hover {
    filter: brightness(0.5);
  }

  @media screen and (width >= 2500px) {
    font-size: 28px;
    line-height: 33px;
  }
}
